.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f3f4f6;
  font-family: sans-serif;
}

@media(min-width: 768px){
  .app-container{
    flex-direction: row;
  }
}

.sidebar {
  width: 100%;
  background: white;
  border-right: 1px solid #e5e7eb;
  padding: 20px;
  box-sizing: border-box;
}

@media(min-width: 780px){
  .sidebar {
    width: 260px;
    height: 100vh;
    position: sticky;
    top: 0;
  }
}

.logo_container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  color: #1e40af;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: #4b5563;
  transition: 0.3s;
  text-decoration: none;
  font-weight: 500;
}

.nav-item:hover {
  background-color: #f9fafb;
}
.nav-item:active {
  background-color: #dbeafe;
  color: #2563eb;
}

.feed-main {
  flex: 1;
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
}

.post-card {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.post-header{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #2563eb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin-right: 12px;
}

.pos-content {
  color: #374151;
  line-height: 1.5;
  margin-bottom: 15px;
}

.post-actions {
  display: flex;
  gap: 24px;
  border-top: 1px solid #f3f4f6;
  padding-top: 12px;
}
.action-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #6b7280;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}
.action-btn:hover{
  color: #2563eb;
}
.action-btn.liked {
  color: #ef4444;
}

.new-post-box {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 24px;
}

.post-textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 16px;
  padding: 10px 0;
}

.post-submit {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}